ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    float: left;
    display: block;
    padding: 8px;
}

li:hover{
    background-color: rgba(26, 24, 24, 0.25);
    float: left;
    display: block;
    padding: 8px;
}

#navbar{
    background-color: rgba(0, 0, 0, 0.035);
}