<div id="title">
    <h2> 
            Fortune Cookie Simulator
    </h2>
</div>
<div id=navmenu>
    <ul>
        <li>
            <a routerLink="/fortune" routerLinkActive="section" router>
                Home
            </a>
        </li>
        <li>
            <a routerLink="/contribute" routerLinkActive="section">
                Contribute
            </a>
        </li>
        <li>
            <a routerLink="/subscribe" routerLinkActive="section">
                Subscribe
            </a>
        </li>
        <li>
            <a routerLink="/account" routerLinkActive="section">
                My Account
            </a>
        </li>   
    </ul>
</div>

