<div id=navbar>
    <ul>
        <li>
            <a routerLink="/fortune" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        </li>
        <li>
            <a routerLink="/contribute" routerLinkActive="active" ariaCurrentWhenActive="page">Contribute</a>
        </li>
        <li>
            <a routerLink="/suscribe" routerLinkActive="active" ariaCurrentWhenActive="page">Subscribe</a>
        </li>
        <li>
            <a routerLink="/account" routerLinkActive="active" ariaCurrentWhenActive="page">My Account</a>
        </li>   
    </ul>
</div>
