#title {
    font-size: 2em;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    text-align: center;
    margin: 0 auto;    
}

#fortune-header {
    font-size: 1.0em;
    right: 0;
    bottom: 0;
    left: 0;
    top:0;
    text-align: center;
    margin: 0 auto;
}

#tag-line {
    font-size: 1em;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    text-align: center;
    margin: 0 auto;
}

#new-fortune-botton{
    margin: 5px;
}

#add-fortune-button{
    margin: 5px;
}

