body {
    background-color: rgba(255, 255, 255, 0.35);
    background-image: url(fortunecookie1.jpg);
    background-blend-mode: lighten;
    font-family: "Comfortaa";
    color: #000000;
    text-align: center;
  }
  
  #title {
    font-family: Comfortaa;
    font-size: 4em;
  }
  
  #tag line {
    font-family: Comfortaa;
    font-size: 2.5em;
  }
  
  